Repository thewca/worldcubeassociation.org, pull requests merged in 2019-08, with the labels that each got.

#4395 Fix race condition when updating competition tabs order
  WcaOnRails/app/models/competition_tab.rb
Labels: bug

#4496 Store best and average in WCIF#Result
  WcaOnRails/lib/round_results.rb
  WcaOnRails/spec/models/competition_wcif_spec.rb
  WcaOnRails/spec/requests/api_competitions_spec.rb
Labels: wcif

#4534 Add WRC users to Delegate report
  WcaOnRails/app/controllers/delegate_reports_controller.rb
  WcaOnRails/app/mailers/competitions_mailer.rb
  WcaOnRails/app/models/delegate_report.rb
  WcaOnRails/app/views/competitions_mailer/wrc_delegate_report_followup.erb
  WcaOnRails/db/migrate/20190826005902_add_wrc_users_to_delegate_report.rb
  WcaOnRails/db/structure.sql
  WcaOnRails/lib/database_dumper.rb
  WcaOnRails/spec/controllers/delegate_reports_controller_spec.rb
  WcaOnRails/spec/features/delegate_report_spec.rb
  WcaOnRails/spec/mailers/competitions_mailer_spec.rb
  WcaOnRails/spec/mailers/previews/competitions_mailer_preview.rb
Labels: wrc-related
